.image-container {
    position: relative;
    cursor: pointer;
}

.image-question-container img {
    max-width: 40%;
    max-height: 500px;
    width: auto;
    height: auto;
}

.image-question-container img.zoomed {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    max-width: 90%;
    max-height: 90%;
    z-index: 100;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.8);
}

