body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fff;
    font-family: Arial, sans-serif;
    overflow: auto;
}

.quiz-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
}

h1 {
    text-align: center;
    color: #333;
}

.question-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

p strong {
    font-size: 1.1rem;
}

.answer-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #f0f0f0;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.answer-button.selected {
    background-color: #007BFF;
    color: white;
}

.answer-button.wrong {
    background-color: #d02222;
    color: white;
}

.answer-button.correct {
    background-color: #3ec412;
    color: white;
}

.answer-button:hover {
    background-color: #61dafb;
    transform: scale(1.05);
}

.submit-button {
    width: 40%;
    padding: 10px;
    margin-top: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #218838;
}

.result-text {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}
