.navbar {
    background-color: #282c34;
    height: 60px;
    display: flex;
    align-items: center;
    color: #fff;
}

.navbar-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.navbar-logo img {
    height: 40px;
}

.nav-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-left: 20px;
}

.nav-links {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.nav-links:hover {
    color: #61dafb;
}
